<div class="scrimutilexemplo">
  <button data-open="statistics-box" aria-controls="statistics-box" aria-haspopup="dialog"  type="button">
    <span class="proposals__button-circle button-container-style">
      <i class="fas fa-chart-bar size-icon-filter"></i>
    </span> 
  </button>
</div>

<div class="br-scrim-util foco" id="scrimutilexample" data-scrim="true">
  <div class="br-modal">
    <div class="br-modal-header">Minhas estatísticas <%=@statistics%>
      <button class="br-button close circle" type="button"
        id="scrimfechar" data-dismiss="scrimexample">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="br-modal-body">
      <%= render partial: "statistics", :locals => {:statistics => statistics} %>
    </div>
  </div>
</div>
