
<footer class="br-footer">
  <div class="br-footer-container br-container-lg">
    <nav class="br-nav mb-5 mt-5">
      <ul class="footer-nav text-up-01">
        <li><a href="/pages/terms-and-conditions">Termos e Condições de Uso</a></li>
        <li><a href="/open-data/download">Baixar arquivos de Dados Abertos</a></li>
        <li><a href="#" data-open="dc-modal" aria-controls="dc-modal" aria-haspopup="dialog" tabindex="0">Configurações de cookies</a></li>
      </ul>
    </nav>
    <div class="br-decidim-license">
      <a rel="license noopener" class="cc-badge" href="/link?external_url=http%3A%2F%2Fcreativecommons.org%2Flicenses%2Fby-sa%2F4.0%2F" target="_blank" data-remote="true">
        <img alt="Creative Commons License" src="/decidim-packs/media/images/cc-badge-afa3eec02a18f532285b.png">
      </a>
      Site criado com <a target="_blank" href="https://github.com/decidim/decidim"> software livre</a>.
    </div>
    <div class="br-decidim-logo">
      <a rel="decidim noopener" href="https://decidim.org/" target="_blank">
        <img alt="Decidim Logo" src="/decidim-packs/media/images/decidim-logo-318879ac2f9a6dd9ab6b.svg">
      </a>
    </div>
  </div>
</footer>
